<header>  
	<ul id="navhome">
        <li class="home"><a href="http://www.cnjserver.com/" title="Home"></a></li>
	</ul>	
	<ul id="navigation">
		<li class="rsvp"><a href="#" title="Rsvp"></a></li>  
		<li class="registry"><a href="#" title="Wedding Registry"></a></li>     
        <li class="twitter"><a href="http://twitter.com/#!/followcnj" title="Twitter"></a></li>
    </ul>
    <script type="text/javascript">
        $(function() {
            $('#navigation a').stop().animate({'marginLeft':'-85px'},1000);

            $('#navigation > li').hover(
                function () {
                    $('a',$(this)).stop().animate({'marginLeft':'-2px'},200);
                },
                function () {
                    $('a',$(this)).stop().animate({'marginLeft':'-85px'},200);
                }
            );
        });
    </script>  
  
	<div class="top round">      
      <nav class="round">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Venue", venue_path %></li>
          <li><%= link_to "Hotels", hotels_path %></li>  
		  <li><%= link_to "Directions", directions_path %></li>
		  <li><%= link_to "Contact Us", contact_path %></li>  
        </ul>
      </nav>          
      <% logo = image_tag("logo.png", :alt => "Sample App", :class => "round") %>
	  <%= link_to logo, root_path %>
    </div>
</header>